/* Breakpoints in columns */
@media (max-width: 320px) {
  section {
    float: left;
    /* 2 per row when narrow layout, and 4 when wide */
    width: 43.75%;
    /* this gives us some space between the sections */
    margin-left: 3.125%;
    margin-right: 3.125%; } }
@media (min-width: 321px) and (max-width: 640px) {
  section {
    float: left;
    /* 2 per row when narrow layout, and 4 when wide */
    width: 21.875%;
    /* this gives us some space between the sections */
    margin-left: 1.563%;
    margin-right: 1.563%; } }
@media (min-width: 641px) {
  section {
    float: left;
    /* 2 per row when narrow layout, and 4 when wide */
    width: 140px;
    /* this gives us some space between the sections */
    margin-left: 10px;
    margin-right: 10px; } }
