@import 'longitude';


@include longitude(4 6 9) {
  html, body {
    font-size: steps(16px 17px 19px);
  }


  .fork-me {
    width: steps(70px 141px);
  }

  hgroup {
    max-width: (1100px/2);
    margin: gutter() auto;
    text-align: center;

    h1 {
      @if column-count() <= 3 {
        line-height: 150%;
      } @else if column-count() <= 4 {
        line-height: 200%;
      } @else {
        line-height: (244px/2);
      }
    }

  }

  .body_section {
    margin: 0 auto;
    width: full-width($outer-gutters: false);
    background-image: url(map.jpg);
  }

  body > article  {
    @extend .body_section;
    @include clearfix;

    > * {
      @include gutters;
    }
  }

  h1,h2,h3,h4,h5,h6 {
    font-size: steps(26px 34px 44px);
  }

  div#demo1 {
    @extend .body_section;
    @include clearfix;
    article {
      float: left;
      width: columns(min(6, column-count()));
    }
    aside {
      float: left;
      width: columns(3);
      display: if(column-count() > 6, block, none);
    }
  }

  div#demo2 {
    @extend .body_section;
    width: full-width();
    .box {
      margin: gutter();
      float: left;
      width: columns(1);
      background-color: $blue;
      height: 40px;
    }
  }
}


